@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


$fontMain: 'Paytone One';
$fontSecondary: 'Raleway';


$textLg: 2.2rem;
$textG: 1.9rem;
$textMd: 1.5rem;
$textSm: 1.0rem;
$textBold: 700;
$textRegular: 400;
$textLight: 300;